@media (max-width: 768px) {
    .nickname-container {
        padding: 20px; /* Aggiungi margini */
        text-align: center;
    }

    .nickname-input {
        width: 80%; /* Riduci larghezza */
        font-size: 18px;
    }

    .nickname-bottone {
        padding: 10px 15px;
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .nickname-input {
        font-size: 14px; /* Ulteriore riduzione */
    }

    .nickname-bottone {
        padding: 8px 12px;
    }
}

@font-face {
    font-family: titolo;
    src: url(../font/Modak-Regular.ttf);
  }
  
body{
    background-color: rgba(236, 176, 225);
    
}
.titolo 
{
    position: relative;
    font-size: 150px;
    text-align: center;
    font-family: titolo;
    color:#52C5A6;
    /*text-shadow:
    -1px 0 #9FFFCB, // Ombra a sinistra 
    0 1px #9FFFCB,  // Ombra in basso 
    1px 0 #9FFFCB,  // Ombra a destra 
    0 -1px #9cdab7; //ombra in basso */

}
.nicknamesubmit
{
    margin:10px auto; 
    display:block;
    text-align: center;
    position:relative; 
    height: 50px;
    width: 200px;
    top: center+100px;
    border-radius: 12px;
    background-color: #3C9B9B;
    border:5px solid #77879C ;
    color: #ECB0E1; 
    font-size: 20px;
    
}
.nickname{
    margin-top: 10px;
    position: relative;
    font-size: 70px;
    text-align: center;
    font-family: titolo;
    color: #3C9B9B;
    height: auto;
  }
.nomeQuiz{
    margin:0 auto; 
    display:block;
    position:relative; 
    height: 100px;
    width: 400px;
    top: center;
    border-radius: 12px;
    background-color: #3C9B9B;
    border:5px solid #77879C ;
    color: #ECB0E1;
    font-size: 40px;
}
.back
{
    position: fixed;
    width: 50%;
    bottom: 10px;
    margin-left: 10px;
}
::placeholder {
    color:  rgba(236, 176, 225); 
    text-align: center;  

  }
  .btnCrea{
    margin:0 auto; 
    display:block;
    position:relative; 
    height: 100px;
    width: 400px;
    top: center;
    border-radius: 12px;
    background-color: #3C9B9B;
    border:5px solid #77879C ;
    color: #ECB0E1;
    font-size: 40px;
  }
  /* Stile per input file */
input[type="file"] {
    display: block;
    margin: 20px auto;
    padding: 10px;
    border: 2px dashed #77879C; /* Bordo tratteggiato */
    background-color: #f9f9f9; /* Sfondo chiaro */
    color: #333;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: border-color 0.3s, background-color 0.3s;
}

input[type="file"]:hover {
    border-color: #3C9B9B; /* Cambia il bordo al passaggio del mouse */
    background-color: #e6f7f7; /* Sfondo più chiaro */
}

