@media (max-width: 768px) {
  .domanda-container {
      padding: 15px; /* Aggiungi spazio */
      font-size: 16px; /* Riduci testo */
  }

  .risposte {
      flex-direction: column; /* Disposizione verticale */
  }

  .risposta-bottone {
      margin: 5px 0;
  }
  .risposta{
    display:none;
  }
}

@media (max-width: 480px) {
  .domanda-container {
      font-size: 14px; /* Testo più piccolo */
  }
  .risposta-bottone {
      padding: 8px 10px;
  }
  .risposta{
    display:none;
  }
}

@font-face {
    font-family: titolo;
    src: url(../font/Modak-Regular.ttf);
  }
  
body{
    background-color: #52C5A6;
}
.titolo 
{
    position: relative;
    font-size: 150px;
    text-align: center;
    font-family: titolo;
    color:#3C9B9B;
    margin-bottom: -40px;
    /*text-shadow:
    -1px 0 #9FFFCB, // Ombra a sinistra 
    0 1px #9FFFCB,  // Ombra in basso 
    1px 0 #9FFFCB,  // Ombra a destra 
    0 -1px #9cdab7; //ombra in basso */

}


.domanda{
margin:10px auto; 
  display:block;
  text-align: center;
  position:relative; 
  height: 200px;
  width: 600px;
  top: center;
  background-color: #bafcea;
  border:5px solid #77879C ;
  color: #ECB0E1;
  font-size: 40px;
}
.risposte{
  margin:10px auto; 
  display:block;
  text-align: center;
  position:relative; 
  top: center;
}
.risposta{
  left: center;
  margin:10px auto; 
  display:block;
  text-align: center;
  position:relative; 
  height: 125px;
  width: 450px;
  top: center;
  border-radius: 12px;
  background-color: #3C9B9B;
  border:5px solid #77879C ;
  color: #ECB0E1;
  font-size: 40px;
  display: inline;
}
.back
{
    position: fixed;
    width: 50%;
    bottom: 10px;
    margin-left: 10px;
}
.nickname{
  margin-top: 10px;
  position: relative;
  font-size: 150px;
  text-align: center;
  font-family: titolo;
  color: #3C9B9B;
  font-size: 50px;
  height: auto;
}

.dif{
  margin-bottom: +10px;
  position: relative;
  font-size: 150px;
  text-align: center;
  font-family: titolo;
  color: #ECB0E1;
  font-size: 50px;
  height: auto;
}
.nrdomande{
  font-family: titolo;
  position:absolute; 
  left: 20px; 
  top:10px;
  height: 100px;
  width: 100px;
  font-size: 50px;
  color:#ECB0E1;
  }
.punteggio{
  font-family: titolo;
  position:absolute; 
  right: 10px; 
  top:10px;
  height: 100px;
  width: 110px;
  font-size: 50px;
  color:#ECB0E1;
}
.punteggioScritta{
  font-family: titolo;
  position:absolute; 
  right: 10px; 
  top:10px;
  height: 100px;
  width: 375px;
  font-size: 50px;
  color:#ECB0E1;
}